@font-face {
    font-family: "Bahij_TheSansArabic-Bold";
    src: url("../fonts/Bahij_TheSansArabic-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Calibri";
    src: url("../fonts/CalibriBold.TTF") format("truetype");
}

body {
    font-family: "Calibri", sans-serif;
    background: url("../../assets/images/background-color.jpg");
}

.image {
    width: 100%;
    height: 100%;
}

#myCanvas {
    font-family: "Bahij_TheSansArabic-Bold"; /* Default font for Arabic */
    max-height: 800px;
}

.container {
    display: block;
    margin: auto;
    height: auto;
}

canvas {
    max-width: 100%;
    object-fit: contain;
}
